<html>
    <title>
        <title>{{ title | escape }}</title>
    </title>
    <body>
        <h1>{{ title | escape }}</h1>
        <article>
            {{ content }}
        </article>
        <footer>
            {{ footer }}
        </footer>
    </body>
</html>